<%= provide(:title, "CinemaLeads | Blogs") %>

<div class="bg-white">
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
      <%= render "blogs/blog" %>
    </div>
  </div>
</div>
